body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #message-container {
    opacity: 0;
    animation: fadeIn 2s forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  #message {
    font-size: 3em;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 20px;
  }

  img {
    position: absolute;
    bottom: 90px; /* Ajusta la posición vertical de la imagen */
    left: 50%; /* Centra la imagen horizontalmente */
    transform: translateX(-50%);
    width: 200px; /* Ajusta el tamaño de la imagen según lo necesites */
  }